<nav class="navbar navbar-light bg-light sticky-top">
    <a class="navbar-brand">E-Commerce</a>
    <button class="navbar-toggler" data-bs-target="#Navbar" data-bs-toggle="offcanvas" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div id="Navbar" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="offcanvasNavbarLabel">

        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Main Menu</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
        </div>
        <hr>

        <div class="offcanvas-body">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active nav-styler">
                    <a class="nav-link" href="#">لوحات كانفس</a>
                </li>
                <li class="nav-item nav-styler">
                    <a class="nav-link" href="#">لوحات جبسية</a>
                </li>
                <li class="nav-item nav-styler">
                    <a class="nav-link" href="#">مجموعات جدارية</a>
                </li>
                <li class="nav-item nav-styler">
                    <a class="nav-link" href="#">طاولات جانبية</a>
                </li>
                <li class="nav-item nav-styler">
                    <a class="nav-link" href="#">تحف واكسسوارات وديكور</a>
                </li>
                <li class="nav-item nav-styler">
                    <a class="nav-link" href="#">3D acrylic wall clocks</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>